# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
env/
venv/
ENV/
.venv/

# Output folders
output/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# macOS junk
.DS_Store

# VS Code settings
.vscode/

# IDEs
.idea/
